langchain_groq
langchain_core
langchain
langchain_community
langchain_google_genai
langchain_huggingface
langchain_chroma
llama-index
pymupdf
nltk
tiktoken
streamlit
pydantic-settings
fastapi
requests
uvicorn
python-multipart
pinecone
sentence-transformers
faiss-cpu
chromadb
pymilvus
groq
qdrant_client